# ETL
etl/.venv/
etl/data/raw/
etl/data/processed/
etl/data/models/
etl/__pycache__/
etl/**/__pycache__/
**/__pycache__/
**/*.pyc

# Web
web/node_modules/
web/.next/
web/.env
web/app/generated/

# Geral
.DS_Store
*.pyc
.gitmodules
